{
  "extends": "airbnb-base",

  "parserOptions": {
    "sourceType": "strict"
  },
  
  "env": {
    "node": true
  },

  "rules": {
    "arrow-parens": [2, "always"],
    "consistent-return": 0,
    "func-names": 0,
    "global-require": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": [2, { "ignore": ["^[^./]"] }],
    "no-console": [1, { "allow": ["warn", "error", "info"] }],
    "no-empty": [2, { "allowEmptyCatch": true }],
    "no-param-reassign": 0,
    "no-shadow": 0,
    "no-underscore-dangle": 0,
    "no-void": 0,
    "prefer-const": [2,{"destructuring": "all"}]
  },

  "globals": {
    "ENV": true,
    "PWD": true
  }
}
